<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>/usr/src/.m2/repository</localRepository>
  <pluginGroups/>
  <proxies>
  </proxies>
  <mirrors/>
  <servers>
    <server>
      <id>mobile-snapshot</id>
      <username>huogang.hg</username>
      <password>111</password>
    </server>
    <server>
      <id>central-bintray</id>
        <configuration>
          <httpConfiguration>
            <all>
              <connectionTimeout>3000</connectionTimeout>
              <readTimeout>5000</readTimeout>
            </all>
          </httpConfiguration>
        </configuration>
    </server>
    <server>
      <id>central_apache</id>
        <configuration>
          <httpConfiguration>
            <all>
              <connectionTimeout>3000</connectionTimeout>
              <readTimeout>5000</readTimeout>
            </all>
          </httpConfiguration>
        </configuration>
    </server>
    <server>
      <id>snapshots</id>
      <username>snapshotsAdmin</username>
      <password>123456</password>
    </server>
    <server>
      <id>releases</id>
      <username>admin</username>
      <password>screct</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>dev</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <!--Alibaba-group-->
        <repository>
          <id>taobao-repo</id>
          <name>taobao Repositories Group</name>
          <url>http://repo.alibaba-inc.com/nexus/content/groups/alirepositiry/</url>
        </repository>
        <repository>
          <id>alibaba-repo</id>
          <name>Alibaba Repositories Group</name>
          <url>http://mvnrepo.alibaba-inc.com/mvn/repository/</url>
        </repository>
        <!--  alipay  -->
        <!-- dev -->
        <repository>
          <id>central</id>
          <url>http://mvn.dev.alipay.net/artifactory/content/repositories/central</url>
        </repository>
        <repository>
          <id>dev-alipay</id>
          <url>http://mvn.dev.alipay.net/artifactory/content/groups/alipay-mobile</url>
        </repository>
        <repository>
          <id>dev-mobile</id>
          <url>http://mvn.dev.alipay.net:8081/artifactory/content/repositories/mobile</url>
        </repository>
        <!-- test (dependency missing!) -->
        <repository>
          <id>test-alipay-mobile</id>
          <url>http://mvn.test.alipay.net/artifactory/content/groups/alipay-mobile</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>test-central</id>
          <url>http://mvn.test.alipay.net/artifactory/content/repositories/central</url>
        </repository>
        <repository>
          <id>test-mobile</id>
          <url>http://mvn.test.alipay.net/artifactory/content/repositories/mobile/</url>
        </repository>
        <!-- mobile-snapshot -->
        <repository>
          <id>mobile-snapshot</id>
          <url>http://mvn.dev.alipay.net/artifactory/content/repositories/mobile-snapshot</url>
        </repository>
        <!--下面的配置和口碑/航旅/财富/搜索专有库，为了效率默认注释掉了,需要时根据业务自行去掉注释-->
        <!--  koubei  -->
        <!--repository>
          <id>test-koubei</id>
          <url>http://mvn.test.alipay.net/artifactory/content/groups/koubei-group</url>
        </repository>
        <repository>
          <id>dev-koubei</id>
          <url>http://mvn.dev.alipay.net/artifactory/content/groups/koubei-group</url>
        </repository-->
        <!-- alitrip -->
        <!--repository>
          <id>test-alitrip</id>
          <url>http://mvn.test.alipay.net/artifactory/content/groups/alitrip-group</url>
        </repository-->
        <!--  wealth  -->
        <!--repository>
          <id>test-wealth</id>
          <url>http://mvn.test.alipay.net/artifactory/content/groups/wealth-group</url>
        </repository-->
        <!--  alisearch  -->
        <!--repository>
          <id>test-alisearch</id>
          <url>http://mvn.test.alipay.net/artifactory/content/groups/alisearch-group</url>
        </repository-->

        <!-- bintray  -->
        <repository>
          <id>central-bintray</id>
          <url>http://jcenter.bintray.com</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <!--  apache  -->
        <repository>
          <id>central_apache</id>
          <url>http://repository.apache.org/snapshots/</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <!-- alipay relase (dependency missing!)-->
        <repository>
          <id>alipay-release</id>
          <url>http://mvn.dev.alipay.net/artifactory/content/repositories/Alipay-Releases</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <!--
        <repository>
          <id>sontype-centeral-repo</id>
          <url>http://repo.maven.org/maven2/</url>
        </repository>
        <repository>
          <id>sontype-centeral-repo1</id>
          <url>http://repo1.maven.org/maven2/</url>
        </repository>
        <repository>
          <id>official-repo-https</id>
          <url>https://repo.maven.apache.org/maven2/</url>
          <snapshots> 
            <enabled>false</enabled> 
          </snapshots> 
        </repository>
        <repository>
          <id>official-repo</id>
          <url>https://repo.maven.apache.org/maven2/</url>
          <snapshots> 
            <enabled>false</enabled> 
          </snapshots> 
        </repository>-->
        <!--<repository><id>repo.jenkins-ci.org</id><url>http://repo.jenkins-ci.org/public/</url></repository>-->
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>ali-centeral-repo</id>
          <url>http://repo.alibaba-inc.com/nexus/content/repositories/central</url>
        </pluginRepository>
        <pluginRepository>
          <id>sontype-centeral-repo</id>
          <url>http://repo1.maven.org/maven2/</url>
        </pluginRepository>
        <pluginRepository>
          <id>central</id>
          <url>http://mvn.dev.alipay.net:8080/artifactory/repo</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central-bintray</id>
          <url>http://jcenter.bintray.com</url>
        </pluginRepository>
        <!--
        <pluginRepository>
          <id>taobao-repo</id>
          <name>Alibaba Repositories Group</name>
          <url>http://repo.alibaba-inc.com/nexus/content/groups/alirepositiry/</url>
        </pluginRepository>
        <pluginRepository>
          <id>alibaba-repo</id>
          <name>Alibaba Repositories Group</name>
          <url>http://mvnrepo.alibaba-inc.com/mvn/repository/</url>
        </pluginRepository>
        -->
      </pluginRepositories>
    </profile>

    <!-- For pure sofa project -->
    <profile>
      <id>dev2</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>central_prod</id>
          <url>http://mvn.test.alipay.net:8080/artifactory/repo</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>central</id>
          <url>http://mvn.dev.alipay.net:8080/artifactory/repo</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>snapshots</id>
          <url>http://mvn.dev.alipay.net:8080/artifactory/repo</url>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://mvn.dev.alipay.net:8080/artifactory/repo</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>dev</activeProfile>
  </activeProfiles>
</settings>