package {{.pkgName}}.common;

import lombok.Data;
import lombok.experimental.Accessors;

import java.io.Serializable;

/**
 * 基础返回结构体
 *
 * @author seven
 * @date 2020-12-18
 */
@Data
@Accessors(chain = true)
public class ResultWrapper <T> implements Serializable {
    /**
     * 返回结果
     */
    private T data;
    /**
     * 业务返回code，1表示业务请求成功
     */
    private String code;
    /**
     * 错误信息
     */
    private String message;
    /**
     * 请求返回时间
     */
    private Long timestamp;
    /**
     * 代码版本
     */
    private String version;
    /**
     * 请求唯一id
     */
    private String traceId;
}